In [90]:
import pandas as pd
import csv
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.cross_validation import cross_val_score, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier

from datetime import datetime

In [54]:
movieData=pd.read_csv('movieData.csv')

In [55]:
movieData.tail(2)

,Unnamed: 0,Actors,Awards,Country,Director,Genre,Language,Metascore,Plot,Ranking,...,Released,Response,Runtime,Title,Type,Writer,Year,imdbID,imdbRating,imdbVotes
241,241,"Harry Dean Stanton, Sam Berry, Bernhard Wicki,...",Nominated for 1 Golden Globe. Another 16 wins ...,"West Germany, France, UK",Wim Wenders,Drama,English,NaN,"Travis Henderson, an aimless drifter who has b...",247,...,19 Sep 1984,True,147 min,"Paris, Texas",movie,"L.M. Kit Carson (adaptation), Sam Shepard",1984,tt0087884,8.1,"50,636"
242,242,"Aamir Khan, Gracy Singh, Rachel Shelley, Paul ...",Nominated for 1 Oscar. Another 44 wins & 19 no...,India,Ashutosh Gowariker,"Adventure, Drama, Musical","Hindi, English, Awadhi, Urdu",84.0,The people of a small village in Victorian Ind...,248,...,08 May 2002,True,224 min,Lagaan: Once Upon a Time in India,movie,"Ashutosh Gowariker (story), Ashutosh Gowariker...",2001,tt0169102,8.2,"73,792"

In [56]:
movieData.columns

Index([u'Unnamed: 0', u'Actors', u'Awards', u'Country', u'Director', u'Genre',
       u'Language', u'Metascore', u'Plot', u'Ranking', u'Rated', u'Released',
       u'Response', u'Runtime', u'Title', u'Type', u'Writer', u'Year',
       u'imdbID', u'imdbRating', u'imdbVotes'],
      dtype='object')

In [57]:
movieDataEdited=movieData.copy()

In [58]:
movieDataEdited.tail(1)

,Unnamed: 0,Actors,Awards,Country,Director,Genre,Language,Metascore,Plot,Ranking,...,Released,Response,Runtime,Title,Type,Writer,Year,imdbID,imdbRating,imdbVotes
242,242,"Aamir Khan, Gracy Singh, Rachel Shelley, Paul ...",Nominated for 1 Oscar. Another 44 wins & 19 no...,India,Ashutosh Gowariker,"Adventure, Drama, Musical","Hindi, English, Awadhi, Urdu",84.0,The people of a small village in Victorian Ind...,248,...,08 May 2002,True,224 min,Lagaan: Once Upon a Time in India,movie,"Ashutosh Gowariker (story), Ashutosh Gowariker...",2001,tt0169102,8.2,"73,792"

imdbRating = float
imdbVotes = object - need to convert to integer

1 missing
Language
imdbRating
imdbVotes

2 missing from rating, runtime 
metascore missing 80
plot missing 3
rating 4

In [85]:
tColumms = []
i=0
for labels in movieDataEdited.columns:  
    if i >=0:
        tColumms.append(labels)
        i = i+1
    else:
        i=i+1

for item in tColumms:
    print 'For %s' %item
    print movieDataEdited[item].isnull().sum()
    print movieDataEdited[item].describe()
    print ' '

For Unnamed: 0
0
count    243.000000
mean     121.000000
std       70.292247
min        0.000000
25%       60.500000
50%      121.000000
75%      181.500000
max      242.000000
Name: Unnamed: 0, dtype: float64

For Actors
0
count                                                   243
unique                                                  242
top       Mark Hamill, Harrison Ford, Carrie Fisher, Bil...
freq                                                      2
Name: Actors, dtype: object

For Awards
6
count         237
unique        227
top       3 wins.
freq            4
Name: Awards, dtype: object

For Country
0
count     243
unique     56
top       USA
freq      121
Name: Country, dtype: object

For Director
0
count                 243
unique                154
top       Martin Scorsese
freq                    7
Name: Director, dtype: object

For Genre
0
count       243
unique      103
top       Drama
freq         19
Name: Genre, dtype: object

For Language
1
count         242
unique         86
top       English
freq           98
Name: Language, dtype: object

For Metascore
80
count    163.000000
mean      80.153374
std       10.774102
min       53.000000
25%             NaN
50%             NaN
75%             NaN
max      100.000000
Name: Metascore, dtype: float64

For Plot
3
count                                                   240
unique                                                  240
top       A young F.B.I. cadet must confide in an incarc...
freq                                                      1
Name: Plot, dtype: object

For Ranking
0
count    243.000000
mean     124.115226
std       72.089040
min        0.000000
25%       61.500000
50%      125.000000
75%      185.500000
max      248.000000
Name: Ranking, dtype: float64

For Rated
4
count     239
unique      9
top         R
freq      101
Name: Rated, dtype: object

For Released
2
count             241
unique            235
top       22 Nov 1995
freq                2
Name: Released, dtype: object

For Response
0
count      243
unique       1
top       True
freq       243
Name: Response, dtype: object

For Runtime
0
count    243.000000
mean     128.831276
std       34.781614
min        0.000000
25%      107.000000
50%      125.000000
75%      145.000000
max      320.000000
Name: Runtime, dtype: float64

For Title
0
count         243
unique        243
top       Network
freq            1
Name: Title, dtype: object

For Type
0
count       243
unique        1
top       movie
freq        243
Name: Type, dtype: object

For Writer
0
count                 243
unique                229
top       Charles Chaplin
freq                    5
Name: Writer, dtype: object

For Year
0
count     243.000000
mean     1984.065844
std        24.188562
min      1921.000000
25%      1964.500000
50%      1991.000000
75%      2003.500000
max      2016.000000
Name: Year, dtype: float64

For imdbID
0
count           243
unique          243
top       tt0075314
freq              1
Name: imdbID, dtype: object

For imdbRating
1
count    242.000000
mean       8.289669
std        0.340759
min        5.200000
25%             NaN
50%             NaN
75%             NaN
max        9.300000
Name: imdbRating, dtype: float64

For imdbVotes
0
count    2.430000e+02
mean     4.152912e+05
std      3.434877e+05
min      0.000000e+00
25%      1.182005e+05
50%      3.393270e+05
75%      6.107885e+05
max      1.711064e+06
Name: imdbVotes, dtype: float64

In [ ]:
# titanic['unknownAge']=titanic['Age']
# titanic['unknownAge'].fillna('Missing', inplace=True)
# titanic['unknownAge'] = titanic['unknownAge'].apply(lambda x: 1 if x =='Missing' else 0)

In [51]:

# movieDataEdited['imdbVotes'] = movieDataEdited['imdbVotes'].convert_objects(convert_numeric=True)b

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [79]:
#one imdbVotes missing
#strip the comma out of the number
#movieDataEdited['imdbVotes'] = movieDataEdited['imdbVotes'].str.strip(',)
movieDataEdited['imdbVotes']=movieDataEdited['imdbVotes'].str.replace(',','')
movieDataEdited['imdbVotes'].fillna(0, inplace=True)
movieDataEdited['imdbVotes']=movieDataEdited['imdbVotes'].astype(int)
#movieDataEdited['imdbVotes']

In [83]:
#two run times missing
#movieDataEdited['imdbVotes'] = movieDataEdited['imdbVotes'].str.strip('min')
#movieDataEdited['Runtime']=movieDataEdited['Runtime'].str.replace(' min','')
movieDataEdited['Runtime'].fillna(0, inplace=True)
movieDataEdited['Runtime']=movieDataEdited['Runtime'].astype(int)

In [84]:
movieDataEdited['Runtime'].head()

0    142
1    175
2    202
3    152
4     96
Name: Runtime, dtype: int64

In [94]:
tempDF=movieDataEdited['Genre'].str[0:].str.split(',', expand=True )
tempDF.columns

RangeIndex(start=0, stop=3, step=1)

In [99]:
pd.melt?

In [108]:
pd.get_dummies?

In [110]:
pd.get_dummies(tempDF).head()

,0_Action,0_Adventure,0_Animation,0_Biography,0_Comedy,0_Crime,0_Drama,0_Film-Noir,0_Horror,0_Mystery,...,2_ History,2_ Horror,2_ Musical,2_ Mystery,2_ Romance,2_ Sci-Fi,2_ Sport,2_ Thriller,2_ War,2_ Western
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [111]:
tempDF.head(1)

       0       1     2
0  Crime   Drama  None