In [24]:
from bs4 import BeautifulSoup
import requests
import re
import time


# Download IMDB's Top 250 data
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
votes = [b.attrs.get('data-value') for b in soup.select('td.ratingColumn strong')]

imdb = []

# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, len(movies)):
    # Seperate movie into: 'place', 'title', 'year'
    # Instead of "2.       The Godfather        (1972)"
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,
            "star_cast": crew[index],
            "rating": ratings[index],
            "vote": votes[index],
            "link": links[index]}
    imdb.append(data)
    time.sleep(1)

In [25]:
Rank=[]
Actors=[]
Awards=[]
Country=[]
Director=[]
Genre=[]
Language=[]
Metascore=[]
Plot=[]
Rated=[]
Released=[]
Response=[]
Runtime=[]
Title=[]
Type=[]
Writer=[]
Year=[]
imdbID=[]



imdbVotes=[]
imdbRating=[]
starCast=[]
place=[]
title=[]

In [9]:
# for item in imdb:
#     print(item['place'], '-', item['movie_title'], '('+item['year']+') -', 'Starring:', item['star_cast'])

In [26]:
import pandas as pd

In [27]:
#  data = {"movie_title": movie_title,
#             "year": year,
#             "place": place,
#             "star_cast": crew[index],
#             "rating": ratings[index],
#             "vote": votes[index],
#             "link": links[index]}

for item in imdb:
    place.append(item['place'] )
    title.append(item['movie_title'])
    starCast.append(item['star_cast'])
    imdbRating.append(item['rating'])
    imdbVotes.append(item['vote'])
    
    
#     Actors.append(movie[1]['Actors'])
#     Awards.append(movie[1]['Awards'])
#     Country.append(movie[1]['Country'])
#     Director.append(movie[1]['Director'])
#     Genre.append(movie[1]['Genre'])
#     Language.append(movie[1]['Language'])
#     Metascore.append(movie[1]['Metascore'])
#     Plot.append(movie[1]['Plot'])
#     Rated.append(movie[1]['Rated'])
#     Released.append(movie[1]['Released'])
#     Response.append(movie[1]['Response'])
#     Runtime.append(movie[1]['Runtime'])
#     Title.append(movie[1]['Title'])
#     Type.append(movie[1]['Type'])
#     Writer.append(movie[1]['Writer'])
#     Year.append(movie[1]['Year'])
#     imdbID.append(movie[1]['imdbID'])
#     imdbRating.append(movie[1]['imdbRating'])
#     imdbVotes.append(movie[1]['imdbVotes'])

In [30]:
print len(imdbRating), len(place), len( title), len(starCast), len(imdbVotes), len(Rank)

250 250 250 250 250 0

In [31]:
dictMovies={'Actors':starCast,
     'Title':title,
     'imdbVotes':imdbVotes,
     'Place':place,
     'imdbRating':imdbRating}
            
movieData=pd.DataFrame(dictMovies)

In [33]:
movieData.tail()

,Actors,Place,Title,imdbRating,imdbVotes
245,"Tom Hooper (dir.), Colin Firth, Geoffrey Rush",246,The King's Speech,8.002469814491285,None
246,"Joss Whedon (dir.), Robert Downey Jr., Chris E...",247,The Avengers,7.999348431543066,None
247,"Wim Wenders (dir.), Harry Dean Stanton, Nastas...",248,"Paris, Texas",7.9987346754250535,None
248,"Ashutosh Gowariker (dir.), Aamir Khan, Gracy S...",249,Lagaan: Once Upon a Time in India,7.998622493976697,None
249,"Gary Trousdale (dir.), Paige O'Hara, Robby Benson",250,Beauty and the Beast,7.998388161522098,None